<!-- templates/calculadora.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La supercalcu</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>

    <div id="calculadora">
        <h1>Calculadora WEB</h1>

        <form method="POST" action="/realizar_operacion">
            <label for="numero1">Número 1:</label>
            <input type="text" name="numero1" id="numero1" placeholder="Ingrese el primer número" required>

            <label for="numero2">Número 2:</label>
            <input type="text" name="numero2" id="numero2" placeholder="Ingrese el segundo número" required>

            <div class="seccion" id="operadores">
                <h2>Operadores Binarios</h2>
                <button type="submit" name="operacion" value="sumar">+</button>
                <button type="submit" name="operacion" value="restar">-</button>
                <button type="submit" name="operacion" value="multiplicar">*</button>
                <button type="submit" name="operacion" value="dividir">/</button>
            </div>
        </form>

    </div>

</body>

</html>
